NODE_ENV=development
PORT=4000
DATABASE_URL=mongodb://127.0.0.1:27017/minierp
JWT_SECRET=minierp
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
CLIENT_URL=http://localhost:5173,https://minierp.gausalmunir.site
CLOUDINARY_CLOUD_NAME=gausalmunirtushar
CLOUDINARY_API_KEY=115439788718523
CLOUDINARY_API_SECRET=_x4EMVjufaMHQBR-wWy42FxQt68
