NODE_ENV=development
PORT=4000
DATABASE_URL=mongodb://127.0.0.1:27017/minierp
JWT_SECRET=minierp_access11
JWT_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12
CLIENT_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
